.card {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  max-width: 394px; 
  width: calc((100vw - 2 * 72px - 2 * 20px) / 3);
  transition: transform 0.4s ease-in-out;
}

.card__img {
  border-radius: 50%;
  width: 320px;
  height: 320px;  
  margin: 0 auto;
}

.card__content {
  padding-top: 28px;
}

.card__title {  
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 6px;
}

.card__info {
  font-size: 20px;
  line-height: 1.2;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}

.card__btn {
  display: block;
  border: 1px solid var(--secondColor);
  border-radius: 62px;
  padding: 8px 10px;
  background-color: transparent;
  min-height: 35px;
  min-width: 113px;
  color: var(--secondColor);
  font-weight: 500;
  font-size: 16px;
  margin: 0 auto;
  transition: 
    background-color 0.3s ease-in-out,    
    color 0.3s ease-in-out;
}

.card__btn:hover {
  background-color: var(--secondColor);
  color: var(--bgColor);  
  transition: 
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.card__rotate {
  animation: cardRotate 1s ease-in-out;
}

@keyframes cardRotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*  =================================== */
/*  =============  MEDIA ============== */

@media (max-width: 1280px) {
  .card {   
    max-width: none; 
    width: calc((100vw - 2 * 72px - 20px) / 2);
  }
}

@media (max-width: 860px) {
  .card {   
    width: 100%;
  }

  .card__img {
    width: 244px;
    height: 244px;
  }

  .card__content {
    padding-top: 30px;
  }
  .card__btn {
    margin-bottom: 7px;
  }
  
}

